<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neural Network</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css" />
</head>

<body>
    <h1>Neural Network</h1>

    <div id="canvas-container" class="canvas-container">
        <p id="prediction">---</p>

        <canvas id="drawing-area" class="drawing-area" height="280" width="280"></canvas>
        <button id="clear-button" class="clear-button btn" type="button">Clear</button>

    </div>

    <div id="collapsible-container" class="collapsible-container">
        <button id="details-button" class="details-button btn" type="button">Show Details</button>
        <div id="details"></div>
    </div>

    <script src="static/js/main.js"></script>
</body>

<footer>
    <p>
        <a id="github-footer" href="https://github.com/dnellessen/neural-network" target="_blank">
            <i class="fa fa-github" style="font-size: 2em; color: black"></i>
        </a>
    </p>
</footer>

</html>